{% import 'bootstrap/wtf.html' as wtf %}

<style>
.navbar-brand{
  background-color: white;
  text-align: justify;
  color: black;
}
.navbar-brand p {
  color:black;
  font-size:30px;
  font-family: 'Lobster', cursive;
}
 .img{
  height: 50px;
  width: 50px;
}
.navbar-right{
  justify-content: center;
}
.navbar{
  background-color:  #D61A46;
}
.tour{
  text-align: center;
}
.btn{
  background: black;
  padding: 10px;/* Standard syntax (must be last) */
  justify-content: center;
  color: white;
}
</style>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"> <p>Katiana</p> </div>
            <img class="img" src="../static/photos/t.jpg">
        </div>
        <div class="header wow lightSpeedIn data-wow-delay="100ms" data-wow-duration="4s"">

        <div class="container">
        <p>Signup, login and match.</p>
        <hr>
        </div>

        <!-- Modal -->





        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <a href="{{url_for('main.index')}}"class="btn btn-primary">Home</a>


            </ul>
        </div>
      </div>


      </div>


    </div>
</div>
